<!DOCTYPE html>
<html lang="en">
<head>
<title>FUNDMUSIC</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<link rel="icon" href="../assets/img/logo-naranja.png">
</head>
<body>
<!-- MENÚ -->
<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img id="img-nav" src="../assets/img/logo.png">
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="../index.html">INICIO</a></li>
      <li><a href="nosotros.html">NOSOTROS </a></li>
      <li><a href="eventos.html">EVENTOS</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">SÚMATE
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="artistas.html">ARTISTAS</a></li>
          <li><a href="fundaciones.html">FUNDACIONES</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
<br>
<br>
<br>
<br>
<!--Nosotros-->
<div class="container text-center center-align cont-views">  
  <div class="col-sm-12">
    <div class="nosotros-bg">
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
  <div class="seccion" id="nosotros" >
    <h1>¿QUIENES SOMOS?</h1>
    <br>
    <p>FundMusic es una plataforma digital dedicada a apoyar fundaciones con causa por medio de conciertos de beneficencia.
    La idea surgió a partir de impulsar el talento mexicano a abrirse paso en el ambito músical y recibir reconocimiento. Y para ésto FundMusic planteó que la mejor manera de lograrlo era creando una plataforma digital en la que tanto bandas, como fundaciones, pudieran resgistrarse para participar en este proyecto y obtener un beneficio mutuo. Ofreciendo también un espacio en el que los usuarios pudieran compartir sus experiencias y sus fotos, además de que pudieran escuchar un poco de la música que cada banda tocaría en sus conciertos y de ésta manera engancharlos a comprar sus boletos.</p>
  </div>
  </div>
</div>
<br>
<br>

<footer class="container-fluid foot">
    <div class="col-sm-6 col-sm-offset-1">
        <p>CONÓCENOS</p>
        <p>CONTACTO</p>
        <p>DONATIVOS</p>
        <p>AYUDA</p>
        <p>CHAT</p>
  </div>

  <div class="col-sm-5">
      <img class="icon-footer" src="../assets/img/icon-fb.png">
      <img class="icon-footer" src="../assets/img/icon-insta.png">
      <img class="icon-footer" src="../assets/img/icon-tw.png">
  </div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
